<h1>Create new meow</h1>

<form method='POST'>
  <label for='input-message'></label>
  <textarea id='input-message' name='message' placeholder='Your message...'></textarea>

  <button>Publish Meow</button>
</form>